@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(../fonts/ubuntu.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
	height: 100%;
  background-color: #2a2a2a;
	color: #f8d403;
	font-family: "Ubuntu", Arial, Helvetica, sans-serif;
	font-size: 1.4em;
}

@media (min-width: 768px) {
  .navbar-nav {
    float:none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
  }
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	background-color: #f8d403;
	color: #2a2a2a;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	color: #f8d403;
}

div .previewbox {
	background-color: #202020;
	color: #f8d403;
	width: 326px;
	height: 186px;
	border-color: #f8d403;
	border-width: 2px;
	margin-bottom: 40px;
}

.previewimage {
	margin: 1px;
	width: 320px;
	height: 180px;
}

.headerImage {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.modalDialog {
	position: fixed;
	font-family: "Ubuntu", Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

/*.video {
    position: fixed;
    top: 50%; left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
}*/

.video {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 1;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	transform: translate(-50%, -50%);
}

.timerBox {
	font-size: 550%;
	position: fixed;
	right: 0%;
	margin-right: 25px;
}
